.fondoProductoAdm{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: azure;
}

.green{
    color: green;
}

.transparencia{
    opacity: 0.9;
}

 /* Móviles en horizontal o tablets en vertical */
   /* ------------------------------------------------------------------------- / */
@media (min-width: 768px) { 
    .tamanio{
        max-width: 30%;
        max-height: 30%;
    }
}
 
/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media (min-width: 1024px) { 
    .tamanio{
        max-width: 50%;
        max-height: 50%;
    }
}
 
/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */ 
@media (min-width: 1200px) { 
    .tamanio{
        max-width: 150px;
        max-height: 150px;
    }
}